In [1]:
import time
import requests
import gspread
import pandas as pd
from datetime import datetime
from bs4 import BeautifulSoup
from pyNBA.Data.helpers import Helpers
from pyNBA.Data.constants import CURRENT_SEASON, UNKNOWN_PLAYERS
from nba_api.stats.endpoints import CommonTeamRoster
from nba_api.stats.static.teams import find_team_by_abbreviation

import warnings
warnings.filterwarnings('ignore')
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [2]:
helpers = Helpers()

team_to_opp_team = {}
team_to_status = {}

current_player_data = pd.DataFrame(columns=[
    'TEAM', 'NAME', 'START', 'PLAYERSTATUS', 'PLAYERCHANCE'
])

URL = 'https://www.rotowire.com/basketball/nba-lineups.php'
page = requests.get(URL)
soup = BeautifulSoup(page.content, 'html.parser')

games = soup.find_all('div', class_='lineup is-nba')
for game in games:
    away_team = game.find('a', class_='lineup__team is-visit').find('div', class_='lineup__abbr').text
    away_team = helpers.prepare_team(away_team)
    away_lineup = game.find('ul', class_='lineup__list is-visit')
    away_player_data, away_lineup_status = helpers.get_player_data(away_lineup)
    away_player_data['TEAM'] = away_team
    away_player_data['NAME'] = away_player_data['NAME'].apply(lambda x: helpers.prepare_name(x, away_team))

    home_team = game.find('a', class_='lineup__team is-home').find('div', class_='lineup__abbr').text
    home_team = helpers.prepare_team(home_team)
    home_lineup = game.find('ul', class_='lineup__list is-home')
    home_player_data, home_lineup_status = helpers.get_player_data(home_lineup)
    home_player_data['TEAM'] = home_team
    home_player_data['NAME'] = home_player_data['NAME'].apply(lambda x: helpers.prepare_name(x, home_team))

    team_to_opp_team[away_team] = home_team
    team_to_opp_team[home_team] = away_team
    team_to_status[away_team] = away_lineup_status
    team_to_status[home_team] = home_lineup_status

    current_player_data = current_player_data.append(away_player_data)
    current_player_data = current_player_data.append(home_player_data)

current_player_data = current_player_data.loc[
    ~current_player_data['NAME'].isin(UNKNOWN_PLAYERS)
]

roster_data = pd.DataFrame()
for team_abbreviation in current_player_data['TEAM'].unique():
    print(team_abbreviation)
    team = find_team_by_abbreviation(team_abbreviation)
    team_id = team['id']

    roster = CommonTeamRoster(season=CURRENT_SEASON, team_id=team_id).get_data_frames()[0]
    time.sleep(0.500)

    roster['TEAM'] = team['abbreviation']

    roster_data = roster_data.append(roster)

roster_data = roster_data.rename(columns={'TeamID': 'TEAMID', 'PLAYER_ID': 'PLAYERID', 'PLAYER': 'NAME'})

roster_data['POSITION'] = roster_data['POSITION'].str.replace('G', 'Guard')
roster_data['POSITION'] = roster_data['POSITION'].str.replace('F', 'Forward')
roster_data['POSITION'] = roster_data['POSITION'].str.replace('C', 'Center')

current_data = roster_data.merge(current_player_data, on=['NAME', 'TEAM'], how='left')

current_data['LINEUPSTATUS'] = current_data['TEAM'].apply(lambda x: team_to_status[x])
current_data['OPP_TEAM'] = current_data['TEAM'].apply(lambda x: team_to_opp_team[x])

current_data['START'] = current_data['START'].fillna(0)
current_data['PLAYERSTATUS'] = current_data['PLAYERSTATUS'].fillna('Healthy')
current_data['PLAYERCHANCE'] = current_data['PLAYERCHANCE'].fillna(100)
current_data['SEASON'] = CURRENT_SEASON

current_data = current_data[[
    'SEASON', 'LINEUPSTATUS', 'PLAYERID', 'TEAM', 'OPP_TEAM', 'NAME', 'POSITION',
    'START', 'PLAYERSTATUS', 'PLAYERCHANCE'
    ]]

SAC
HOU
NYK
IND
OKC
ORL
CHA
PHI
CLE
ATL
TOR
NOP

In [3]:
missing_players = current_player_data.loc[
    ~current_player_data['NAME'].isin(roster_data['NAME'].unique())
    ]['NAME'].unique()

In [4]:
display(current_player_data)

   TEAM               NAME START PLAYERSTATUS  PLAYERCHANCE
0   SAC       De'Aaron Fox     1      Healthy         100.0
1   SAC        Buddy Hield     1      Healthy         100.0
2   SAC    Harrison Barnes     1      Healthy         100.0
3   SAC  Marvin Bagley III     1      Healthy         100.0
4   SAC     Richaun Holmes     1      Healthy         100.0
..  ...                ...   ...          ...           ...
1   NOP       Eric Bledsoe     1      Healthy         100.0
2   NOP     Brandon Ingram     1      Healthy         100.0
3   NOP    Zion Williamson     1      Healthy         100.0
4   NOP       Steven Adams     1      Healthy         100.0
5   NOP     Wenyen Gabriel     0          OUT           0.0

[96 rows x 5 columns]

In [5]:
print(missing_players)

['T. Haliburton' 'E. Fournier' 'C. Okeke']

In [6]:
display(roster_data.loc[roster_data['NAME'].str.contains('Jackson')])
display(current_player_data.loc[current_player_data['NAME'].str.contains('Jackson')])

,TEAMID,SEASON,LeagueID,NAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYERID,TEAM
16,1610612760,2020,00,Justin Jackson,justin-jackson,44,Forward,6-7,220,"MAR 28, 1995",25.0,3,North Carolina,1628382,OKC

Empty DataFrame
Columns: [TEAM, NAME, START, PLAYERSTATUS, PLAYERCHANCE]
Index: []

In [7]:
for i in missing_players:
    last = i.split()[1]
    print('------------------------------------------------------------------------------------------------------------------------')
    print(last)
    display(roster_data.loc[roster_data['NAME'].str.contains(last)])
    print('------------------------------------------------------------------------------------------------------------------------')

------------------------------------------------------------------------------------------------------------------------
Haliburton

,TEAMID,SEASON,LeagueID,NAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYERID,TEAM
0,1610612758,2020,00,Tyrese Haliburton,tyrese-haliburton,0,Guard,6-5,185,"FEB 29, 2000",20.0,R,Iowa State,1630169,SAC

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
Fournier

,TEAMID,SEASON,LeagueID,NAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYERID,TEAM
9,1610612753,2020,00,Evan Fournier,evan-fournier,10,Guard-Forward,6-7,205,"OCT 29, 1992",28.0,8,Poitiers Basket 86,203095,ORL

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
Okeke

,TEAMID,SEASON,LeagueID,NAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYERID,TEAM
3,1610612753,2020,00,Chuma Okeke,chuma-okeke,3,Forward,6-8,229,"AUG 18, 1998",22.0,R,Auburn,1629643,ORL

------------------------------------------------------------------------------------------------------------------------

In [8]:
from pyNBA.Data.data import QueryData
query_data = QueryData(update=False)

a = query_data.query_game_data()

/Users/brandonshimiaie/Projects/pyNBA/sqlite/db/nba.db
2.6.0

In [14]:
display(a.loc[a['ID'] == '0022000073'])

              ID   SEASON      SEASONTYPE        DATE  HTM  VTM    W
7930  0022000073  2020-21  Regular Season  2021-01-01  MIL  CHI  CHI

In [13]:
from nba_api.stats.endpoints import PlayByPlayV2
play_by_play = PlayByPlayV2(game_id='0022000074').get_data_frames()[0]
display(play_by_play)

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,...,PLAYER2_TEAM_NICKNAME,PLAYER2_TEAM_ABBREVIATION,PERSON3TYPE,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ID,PLAYER3_TEAM_CITY,PLAYER3_TEAM_NICKNAME,PLAYER3_TEAM_ABBREVIATION,VIDEO_AVAILABLE_FLAG
0,0022000073,2,12,0,1,8:11 PM,12:00,None,None,None,...,None,None,0,0,None,NaN,None,None,None,0
1,0022000073,4,10,0,1,8:11 PM,12:00,Jump Ball Lopez vs. Carter Jr.: Tip to Holiday,None,None,...,Bulls,CHI,4,201950,Jrue Holiday,1.610613e+09,Milwaukee,Bucks,MIL,1
2,0022000073,7,2,1,1,8:11 PM,11:43,MISS Antetokounmpo 26' 3PT Jump Shot,None,None,...,None,None,0,0,None,NaN,None,None,None,1
3,0022000073,8,4,0,1,8:11 PM,11:39,None,None,LaVine REBOUND (Off:0 Def:1),...,None,None,0,0,None,NaN,None,None,None,1
4,0022000073,9,5,45,1,8:11 PM,11:31,None,None,Carter Jr. Out of Bounds - Bad Pass Turnover T...,...,None,None,1,0,None,NaN,None,None,None,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,0022000073,684,1,1,4,10:20 PM,0:53,Wilson 3PT Jump Shot (3 PTS) (Antetokounmpo 2...,None,None,...,Bucks,MIL,0,0,None,NaN,None,None,None,1
477,0022000073,686,1,79,4,10:20 PM,0:35,None,None,Dotson 16' Pullup Jump Shot (4 PTS),...,None,None,0,0,None,NaN,None,None,None,1
478,0022000073,688,2,1,4,10:20 PM,0:14,MISS Antetokounmpo 26' 3PT Jump Shot,None,None,...,None,None,0,0,None,NaN,None,None,None,1
479,0022000073,689,4,0,4,10:20 PM,0:11,None,None,Mokoka REBOUND (Off:0 Def:1),...,None,None,0,0,None,NaN,None,None,None,1
480,0022000073,690,13,0,4,10:21 PM,0:00,None,None,None,...,None,None,0,0,None,NaN,None,None,None,1

In [17]:
from nba_api.stats.endpoints import BoxScoreTraditionalV2
traditional_boxscores = BoxScoreTraditionalV2(
                game_id='0022000074'
                ).get_data_frames()[0]
display(traditional_boxscores)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,0022000074,1610612764,WAS,Washington,1630166,Deni Avdija,F,,27:14,4.0,...,0.0,7.0,7.0,3.0,3.0,0.0,1.0,3.0,11.0,32.0
1,0022000074,1610612764,WAS,Washington,1629060,Rui Hachimura,F,,19:29,3.0,...,1.0,3.0,4.0,2.0,0.0,0.0,1.0,3.0,11.0,11.0
2,0022000074,1610612764,WAS,Washington,1628418,Thomas Bryant,C,,22:01,7.0,...,2.0,5.0,7.0,2.0,0.0,0.0,2.0,1.0,18.0,25.0
3,0022000074,1610612764,WAS,Washington,203078,Bradley Beal,G,,27:58,12.0,...,0.0,3.0,3.0,7.0,1.0,0.0,2.0,1.0,31.0,23.0
4,0022000074,1610612764,WAS,Washington,203526,Raul Neto,G,,22:20,5.0,...,0.0,0.0,0.0,2.0,2.0,0.0,1.0,0.0,12.0,16.0
5,0022000074,1610612764,WAS,Washington,202722,Davis Bertans,,,19:32,4.0,...,1.0,1.0,2.0,1.0,0.0,0.0,1.0,1.0,11.0,24.0
6,0022000074,1610612764,WAS,Washington,201577,Robin Lopez,,,19:40,5.0,...,2.0,4.0,6.0,2.0,0.0,3.0,1.0,5.0,11.0,9.0
7,0022000074,1610612764,WAS,Washington,1628972,Troy Brown Jr.,,,13:51,2.0,...,0.0,3.0,3.0,1.0,1.0,0.0,0.0,1.0,4.0,5.0
8,0022000074,1610612764,WAS,Washington,202397,Ish Smith,,,20:56,2.0,...,1.0,5.0,6.0,9.0,0.0,0.0,2.0,0.0,5.0,18.0
9,0022000074,1610612764,WAS,Washington,1629010,Jerome Robinson,,,22:07,4.0,...,0.0,2.0,2.0,3.0,1.0,0.0,0.0,1.0,13.0,-5.0
10,0022000074,1610612764,WAS,Washington,1629726,Garrison Mathews,,,9:05,1.0,...,0.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,3.0,-14.0
11,0022000074,1610612764,WAS,Washington,1628394,Anzejs Pasecniks,,,6:19,0.0,...,1.0,0.0,1.0,1.0,0.0,0.0,5.0,2.0,0.0,-13.0
12,0022000074,1610612764,WAS,Washington,1630264,Anthony Gill,,,4:44,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-13.0
13,0022000074,1610612764,WAS,Washington,1629067,Isaac Bonga,,,4:44,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,-13.0
14,0022000074,1610612764,WAS,Washington,1629021,Moritz Wagner,,DNP - Coach's Decision,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,0022000074,1610612750,MIN,Minnesota,1627736,Malik Beasley,F,,26:18,8.0,...,0.0,3.0,3.0,0.0,0.0,0.0,1.0,4.0,21.0,-17.0
16,0022000074,1610612750,MIN,Minnesota,1629633,Jarrett Culver,F,,20:39,2.0,...,1.0,1.0,2.0,0.0,0.0,0.0,2.0,5.0,4.0,-8.0
17,0022000074,1610612750,MIN,Minnesota,1629675,Naz Reid,C,,24:18,7.0,...,1.0,5.0,6.0,1.0,1.0,2.0,2.0,4.0,17.0,4.0
18,0022000074,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,G,,25:54,6.0,...,1.0,3.0,4.0,3.0,1.0,0.0,5.0,0.0,14.0,-32.0
19,0022000074,1610612750,MIN,Minnesota,201937,Ricky Rubio,G,,25:15,1.0,...,1.0,1.0,2.0,5.0,2.0,0.0,3.0,2.0,3.0,-22.0
20,0022000074,1610612750,MIN,Minnesota,1630162,Anthony Edwards,,,26:21,7.0,...,0.0,3.0,3.0,2.0,0.0,1.0,3.0,2.0,17.0,-7.0
21,0022000074,1610612750,MIN,Minnesota,1627823,Juancho Hernangomez,,,14:20,2.0,...,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,5.0,-20.0
22,0022000074,1610612750,MIN,Minnesota,202334,Ed Davis,,,16:26,0.0,...,4.0,6.0,10.0,3.0,0.0,0.0,0.0,1.0,0.0,-20.0
23,0022000074,1610612750,MIN,Minnesota,1629162,Jordan McLaughlin,,,24:18,4.0,...,1.0,3.0,4.0,0.0,1.0,0.0,0.0,0.0,10.0,-4.0
24,0022000074,1610612750,MIN,Minnesota,1627774,Jake Layman,,,15:06,2.0,...,0.0,1.0,1.0,1.0,3.0,0.0,1.0,3.0,12.0,-1.0
25,0022000074,1610612750,MIN,Minnesota,1629020,Jarred Vanderbilt,,,12:00,3.0,...,2.0,2.0,4.0,1.0,1.0,0.0,3.0,1.0,6.0,8.0
26,0022000074,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,,,9:05,0.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,14.0