In [1]:
import time
import requests
import gspread
import pandas as pd
from datetime import datetime
from bs4 import BeautifulSoup
from pyNBA.Data.helpers import Helpers
from pyNBA.Data.constants import CURRENT_SEASON, UNKNOWN_PLAYERS
from nba_api.stats.endpoints import CommonTeamRoster
from nba_api.stats.static.teams import find_team_by_abbreviation

import warnings
warnings.filterwarnings('ignore')
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [2]:
helpers = Helpers()

team_to_opp_team = {}
team_to_status = {}

current_player_data = pd.DataFrame(columns=[
    'TEAM', 'NAME', 'START', 'PLAYERSTATUS', 'PLAYERCHANCE'
])

URL = 'https://www.rotowire.com/basketball/nba-lineups.php'
page = requests.get(URL)
soup = BeautifulSoup(page.content, 'html.parser')

games = soup.find_all('div', class_='lineup is-nba')
for game in games:
    away_team = game.find('a', class_='lineup__team is-visit').find('div', class_='lineup__abbr').text
    away_team = helpers.prepare_team(away_team)
    away_lineup = game.find('ul', class_='lineup__list is-visit')
    away_player_data, away_lineup_status = helpers.get_player_data(away_lineup)
    away_player_data['TEAM'] = away_team
    away_player_data['NAME'] = away_player_data['NAME'].apply(lambda x: helpers.prepare_name(x, away_team))

    home_team = game.find('a', class_='lineup__team is-home').find('div', class_='lineup__abbr').text
    home_team = helpers.prepare_team(home_team)
    home_lineup = game.find('ul', class_='lineup__list is-home')
    home_player_data, home_lineup_status = helpers.get_player_data(home_lineup)
    home_player_data['TEAM'] = home_team
    home_player_data['NAME'] = home_player_data['NAME'].apply(lambda x: helpers.prepare_name(x, home_team))

    team_to_opp_team[away_team] = home_team
    team_to_opp_team[home_team] = away_team
    team_to_status[away_team] = away_lineup_status
    team_to_status[home_team] = home_lineup_status

    current_player_data = current_player_data.append(away_player_data)
    current_player_data = current_player_data.append(home_player_data)

current_player_data = current_player_data.loc[
    ~current_player_data['NAME'].isin(UNKNOWN_PLAYERS)
]

roster_data = pd.DataFrame()
for team_abbreviation in current_player_data['TEAM'].unique():
    print(team_abbreviation)
    team = find_team_by_abbreviation(team_abbreviation)
    team_id = team['id']

    roster = CommonTeamRoster(season=CURRENT_SEASON, team_id=team_id).get_data_frames()[0]
    time.sleep(0.500)

    roster['TEAM'] = team['abbreviation']

    roster_data = roster_data.append(roster)

roster_data = roster_data.rename(columns={'TeamID': 'TEAMID', 'PLAYER_ID': 'PLAYERID', 'PLAYER': 'NAME'})

roster_data['POSITION'] = roster_data['POSITION'].str.replace('G', 'Guard')
roster_data['POSITION'] = roster_data['POSITION'].str.replace('F', 'Forward')
roster_data['POSITION'] = roster_data['POSITION'].str.replace('C', 'Center')

current_data = roster_data.merge(current_player_data, on=['NAME', 'TEAM'], how='left')

current_data['LINEUPSTATUS'] = current_data['TEAM'].apply(lambda x: team_to_status[x])
current_data['OPP_TEAM'] = current_data['TEAM'].apply(lambda x: team_to_opp_team[x])

current_data['START'] = current_data['START'].fillna(0)
current_data['PLAYERSTATUS'] = current_data['PLAYERSTATUS'].fillna('Healthy')
current_data['PLAYERCHANCE'] = current_data['PLAYERCHANCE'].fillna(100)
current_data['SEASON'] = CURRENT_SEASON

current_data = current_data[[
    'SEASON', 'LINEUPSTATUS', 'PLAYERID', 'TEAM', 'OPP_TEAM', 'NAME', 'POSITION',
    'START', 'PLAYERSTATUS', 'PLAYERCHANCE'
    ]]

BKN
DET
BOS
MIL
PHX
TOR
DEN
NOP
HOU
MIN
POR
ORL
MIA
CHA
IND
DAL
MEM
UTA
ATL
GSW
CLE
LAL

In [3]:
missing_players = current_player_data.loc[
    ~current_player_data['NAME'].isin(roster_data['NAME'].unique())
    ]['NAME'].unique()

In [4]:
display(current_player_data)

   TEAM             NAME START PLAYERSTATUS  PLAYERCHANCE
0   BKN     James Harden     1          GTD          50.0
1   BKN      Bruce Brown     1      Healthy         100.0
2   BKN       Joe Harris     1      Healthy         100.0
3   BKN       Jeff Green     1      Healthy         100.0
4   BKN   DeAndre Jordan     1      Healthy         100.0
..  ...              ...   ...          ...           ...
3   LAL   Devontae Cacok     1      Healthy         100.0
4   LAL  Markieff Morris     1      Healthy         100.0
5   LAL    Anthony Davis     0          OUT           0.0
6   LAL     Jared Dudley     0          OUT           0.0
7   LAL     LeBron James     0          OUT           0.0

[183 rows x 5 columns]

In [5]:
barrett = current_player_data.loc[current_player_data['NAME'] == 'RJ Barrett']
display(barrett)

Empty DataFrame
Columns: [TEAM, NAME, START, PLAYERSTATUS, PLAYERCHANCE]
Index: []

In [6]:
print(missing_players)

['L. Shamet' 'R. McGruder' 'C. Joseph' 'M. Wagner' 'B. Forbes'
 'M. Bridges' 'J. McGee' 'J. McDaniels' 'B. Wanamaker' 'L. Ball'
 'M. Thomas' 'I. Hartenstein']

In [7]:
display(roster_data.loc[roster_data['NAME'].str.contains('Jackson')])
display(current_player_data.loc[current_player_data['NAME'].str.contains('Jackson')])

,TEAMID,SEASON,LeagueID,NAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYERID,TEAM
1,1610612765,2020,00,Frank Jackson,frank-jackson,5,Guard,6-3,205,"MAY 04, 1998",22.0,2,Duke,1628402,DET
9,1610612765,2020,00,Josh Jackson,josh-jackson,20,Guard-Forward,6-8,207,"FEB 10, 1997",24.0,3,Kansas,1628367,DET
7,1610612763,2020,00,Jaren Jackson Jr.,jaren-jackson-jr,13,Forward-Center,6-11,242,"SEP 15, 1999",21.0,2,Michigan State,1628991,MEM

  TEAM               NAME START PLAYERSTATUS  PLAYERCHANCE
5  MEM  Jaren Jackson Jr.     0          OUT           0.0

In [8]:
for i in missing_players:
    last = i.split()[1]
    print('------------------------------------------------------------------------------------------------------------------------')
    print(last)
    display(roster_data.loc[roster_data['NAME'].str.contains(last)])
    print('------------------------------------------------------------------------------------------------------------------------')

------------------------------------------------------------------------------------------------------------------------
Shamet

,TEAMID,SEASON,LeagueID,NAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYERID,TEAM
13,1610612751,2020,00,Landry Shamet,landry-shamet,20,Guard,6-4,190,"MAR 13, 1997",24.0,2,Wichita State,1629013,BKN

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
McGruder

,TEAMID,SEASON,LeagueID,NAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYERID,TEAM
8,1610612765,2020,00,Rodney McGruder,rodney-mcgruder,17,Guard,6-4,205,"JUL 29, 1991",29.0,4,Kansas State,203585,DET

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
Joseph

,TEAMID,SEASON,LeagueID,NAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYERID,TEAM
5,1610612765,2020,00,Cory Joseph,cory-joseph,9,Guard,6-3,200,"AUG 20, 1991",29.0,9,Texas,202709,DET

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
Wagner

,TEAMID,SEASON,LeagueID,NAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYERID,TEAM
9,1610612738,2020,00,Moritz Wagner,moritz-wagner,21,Forward-Center,6-11,245,"APR 26, 1997",23.0,2,Michigan,1629021,BOS

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
Forbes

,TEAMID,SEASON,LeagueID,NAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYERID,TEAM
2,1610612749,2020,00,Bryn Forbes,bryn-forbes,7,Guard,6-2,205,"JUL 23, 1993",27.0,4,Michigan State,1627854,MIL

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
Bridges

,TEAMID,SEASON,LeagueID,NAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYERID,TEAM
13,1610612756,2020,00,Mikal Bridges,mikal-bridges,25,Forward,6-6,209,"AUG 30, 1996",24.0,2,Villanova,1628969,PHX
0,1610612766,2020,00,Miles Bridges,miles-bridges,0,Forward,6-6,225,"MAR 21, 1998",23.0,2,Michigan State,1628970,CHA

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
McGee

,TEAMID,SEASON,LeagueID,NAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYERID,TEAM
7,1610612743,2020,00,JaVale McGee,javale-mcgee,6,Center-Forward,7-0,270,"JAN 19, 1988",33.0,12,Nevada-Reno,201580,DEN

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
McDaniels

,TEAMID,SEASON,LeagueID,NAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYERID,TEAM
2,1610612750,2020,00,Jaden McDaniels,jaden-mcdaniels,3,Forward,6-9,185,"SEP 29, 2000",20.0,R,Washington,1630183,MIN
5,1610612766,2020,00,Jalen McDaniels,jalen-mcdaniels,6,Forward-Center,6-9,205,"JAN 31, 1998",23.0,1,San Diego State,1629667,CHA

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
Wanamaker

,TEAMID,SEASON,LeagueID,NAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYERID,TEAM
8,1610612766,2020,00,Brad Wanamaker,brad-wanamaker,10,Guard,6-3,210,"JUL 25, 1989",31.0,2,Pittsburgh,202954,CHA

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
Ball

,TEAMID,SEASON,LeagueID,NAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYERID,TEAM
1,1610612740,2020,00,Lonzo Ball,lonzo-ball,2,Guard,6-6,190,"OCT 27, 1997",23.0,3,UCLA,1628366,NOP
2,1610612766,2020,00,LaMelo Ball,lamelo-ball,2,Guard,6-6,180,"AUG 22, 2001",19.0,R,Illawarra,1630163,CHA

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
Thomas

,TEAMID,SEASON,LeagueID,NAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYERID,TEAM
9,1610612761,2020,00,Matt Thomas,matt-thomas,21,Guard,6-4,190,"AUG 04, 1994",26.0,1,Iowa State,1629744,TOR
15,1610612739,2020,00,Brodric Thomas,brodric-thomas,33,Guard,6-5,185,"JAN 28, 1997",24.0,R,Truman State,1630271,CLE

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
Hartenstein

,TEAMID,SEASON,LeagueID,NAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYERID,TEAM
12,1610612739,2020,00,Isaiah Hartenstein,isaiah-hartenstein,25,Center-Forward,7-0,250,"MAY 05, 1998",22.0,2,Zalgiris,1628392,CLE

------------------------------------------------------------------------------------------------------------------------